*{
    margin: 0;
    padding: 0;
    background-color: black;
}
@font-face {
    font-family: digitalFont;
    src: url(casiofont.ttf);
}
.container{
    overflow: hidden;
    color: #14ff62;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
#clock{
    border: 0.3vw solid #14ff62;
    width: 50%;
}
#time{
    font-family: digitalFont;
    font-size: 7vw;
    text-align: center;
}
.dataflex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#daydate{
    font-family: digitalFont;
    font-size: 1.5vw;
    display: inline-block;
    margin: 0 auto;
}
#format{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
    display: inline-block;
    position: absolute;
    margin-right: -40vw;
    border: 0.2vw solid #14ff62;
    border-radius: 0.5vw;
}
#f12{
    display: inline-block;
    padding: 0.5vh 0.5vw;
    border: 0vw solid #14ff62;
    border-radius: 0.4vw;
    margin-right: -0.5vw;
}
#f24{
    display: inline-block;
    padding: 0.5vh 0.5vw;
    border: 0vw solid #14ff62;
    border-radius: 0.4vw;
    background-color: #14ff62;
    color: black;
}
#format :hover{
    cursor: pointer;
}
.samp{
    text-align: justify;
    font-size: 2vw;
    padding: 5vw;
}
